.main_communities{
    height: 88vh;
    overflow-y: scroll;
}

.community_page{
    height: 140vh;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(8,1fr);
    padding: 1rem;
}

.communitylistHeading{
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: #f1f0f7;
    color: #5f6368;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;

}

.communitylistItems{
    background-color: #f1f0f7;
    border-radius: 0.7rem;
}

.communitylistItem1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(https://i.pinimg.com/736x/2a/c1/f8/2ac1f81ece49d194865e0a29c1b240d9.jpg);
    background-size: cover;
}

.communitylistItem2{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
}

.communitylistItem3{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
}

.communitylistItem4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}

.communitylistItem5{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

.communitylistItem6{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}

.communitylistItem7{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
}

.communitylistItem8{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url(https://i.pinimg.com/736x/0f/e3/5f/0fe35fa1921164d81c60d3546e515fc2.jpg);
    background-size: contain;
}